html {
  font-size: 18px;
}

body {
  color: white
  font-family: Helvetica;
}

/*Header Styling*/
.header .logo {
  display: flex;
  align-items: center;
  background-color: black;
}

.header{
  background-color: black;
  color: white;
  height: 2.82rem;
}

.header span {
  font-size: 1rem;
  font-family: Helvetica;
  text-transform: uppercase;
}

.logo {
  max-width: 960px;
  padding-left: 10rem;
  padding-top: 0.66em;
  padding-bottom: 0.66rem;
}

.logo img {
  width: 2.33rem;
  height: 1.66rem;
  padding-right: 2rem;
}

div {
  display: block;
}

/*Banner & Nav*/

.banner {
  background-image: url(/Users/thomasbishop/Documents/Projects/SecretAgentSupply/resources/images/moto.jpeg);
  background-size: cover;
  height: 25rem;
  display: flex;
  align-items: center;
}

.bannertext {
  background-color: #000000;
  width: 25rem;
  height: 10rem;
  font-family: Helvetica;
  color: #ffffff;
  font-weight: bold;
  margin-left: 10rem;
}

.banner h4 {
  font-size: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 3rem;
  padding-top: 2rem;
  text-transform: uppercase;
}

.banner h1 {
  font-size: 2rem;
  padding-left: 3rem;
  text-transform: uppercase;
}

nav {
  background-color: firebrick;
  height: 1.5rem;
}

.navitems {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding-top: 0.9rem;
  color: white;
  font-size: 1rem;
  font-family: Helvetica;
  justify-content: space-between;
  list-style: none;
}

.mobile-nav {
  display: none;
}

/*Product Listings*/
.product-container {
  max-width: 960px;
  margin: 0 auto;
}

.products {
  display: flex;
  justify-content: space-between;
  margin: 3em 0 0 0;
}

.product-image img{
  border: 4px solid black;
  padding: 2em 3em;
  height: 9em;
  width:9em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.5em;
  font-family: Helvetica;
}

/*Business Info*/
.container {
  max-width: 960px;
  margin: 0px auto;
}

.business-info {
  display: flex;
  justify-content: space-around;
  margin: 3em 0px 0px ;
}

.info {
  width: 35%;
}

.info .title {
  display: block;
  background-color: black;
  padding: 1rem 0 1rem 2rem;
  color: white;
  font-family: Helvetica;
}

/*Footer*/
footer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 5rem;
  background-color: black;  color: white;
  font-family: Helvetica;
  margin-top: 4rem;
  padding: 2rem 0;
}

/*Tablet*/
@media only screen and (max-width: 1024px) {
  .navitems {
    display: none;
  }

  .product.glasses {
    display: none;
  }

  .products {
    justify-content: space-around;
  }

  .product-image {
    width: 47%;
  }

  .mobile-nav {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-top: 0rem;
    color: white;
    font-size: 1rem;
    font-family: Helvetica;
    justify-content: center;
    list-style: none;
  }

  .info {
    width: 35%;
    justify-content: space-between;
  }

  .title {
    margin-bottom: 20px;
  }
}

/*Mobile*/
@media only screen and (max-width: 470px) {
  .mobile-nav {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    padding-top: 0rem;
    color: white;
    font-size: 1rem;
    font-family: Helvetica;
    justify-content: center;
    list-style: none;
  }

  .logo span {
    display: none;
  }

  .product.watch {
    display: none;
  }
  .product-image {
    width: 90%;
  }

  .bannertext {
    width:100%;
    background-color: #000000;
    height: 10rem;
    font-family: Helvetica;
    color: #ffffff;
    font-weight: bold;
    margin-left: 0rem;
  }

  .info {
    width: 45%;
    padding-top: 1rem;
  }

  .business-info {
    flex-direction: column;
    align-items: center;
  }
}
